/* ==========
  #HERO
  ========== */

.c-hero {
  position: relative;
}

.c-hero__media {
  position: relative;
  > img {
    width: 100%;
  }
}

.c-hero__slogan {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 6.25%;
  img {
    width: 30%;
  }
}