/* ==========
  #HOME-CATEGORY
  ========== */

.p-home-category {
  display: flex;
  flex-wrap: wrap;
  @include mq(md) {
    border-bottom: 1px solid nth($grayscale, 2);
  }
}

.p-home-category__item {
  width: 50%;
  background-color: $white;
  text-align: center;
  transition: background-color 0.3s ease;
  @include mq($until: md) {
    border-right: 1px solid nth($grayscale, 2);
    border-bottom: 1px solid nth($grayscale, 2);
  }
  @include mq(md) {
    width: 25%;
    &:not(:last-child) {
      border-right: 1px solid nth($grayscale, 2);
    }
  }
  @include is-hover {
    background-color: nth($grayscale, 1);
  }
  button {
    width: 100%;
    padding: 0.5rem 1rem;
    @include mq(md) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  img {
    width: 40px;
    @include mq(md) {
      margin: 0 0.25rem 0 0;
    }
  }
}

/* ==========
  #INTRO
  ========== */
  
.p-intro {
  position: relative;
  padding: 3rem 0 4rem;
  @include mq(md) {
    padding: 4rem 0 5rem;
  }
  @include mq(xl) {
    padding: 5rem 0 6.25rem;
  }
}

/* ==========
  #COMMENT
  ========== */

.p-comment {
  position: relative;
  padding: 3rem 0 4rem;
  @include mq(md) {
    padding: 4rem 0 5rem;
  }
  @include mq(xl) {
    padding: 5rem 0 6.25rem;
  }
  .swiper-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &:focus {
      outline: none;
    }
    &.swiper-button-disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }
  .swiper-btn-prev {
    left: 0;
  }
  .swiper-btn-next {
    right: 0;
  }
}

.p-comment__slider {
  position: relative;
  padding: 0 2rem;
  @include mq(md) {
    padding: 0 3rem;
  }
  @include mq(xl) {
    padding: 0 5rem;
  }
}

.p-comment__card {
  position: relative;
  padding: 5rem 0 0;
  text-align: center;
}

.p-comment__photo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: bottom center;
  width: 160px;
  border-radius: 50%;
  margin: 0 auto;
  animation: rotate 1.5s infinite both;
  @keyframes rotate {
    0% {
      transform: translateX(-50%) rotate(6deg);
    }
    50% {
      transform: translateX(-50%) rotate(-6deg);
    }
    100% {
      transform: translateX(-50%) rotate(6deg);
    }
  }
}

.p-comment__content {
  background-color: nth($grayscale, 1);
  border-radius: 4px;
  padding: 5.625rem 1.875rem 4rem;
}