/* ==========
  #PRODUCT
  ========== */

.p-product {
  position: relative;
  padding: 3rem 0 4rem;
  @include mq(md) {
    padding: 4rem 0 5rem;
  }
  @include mq(xl) {
    padding: 5rem 0 6.25rem;
  }
}

.p-product__main {
  @include mq(lg) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.p-product__filter {
  background-color: nth($grayscale, 1);
  margin: 0 0 2rem;
  @include mq(lg) {
    flex: 0 0 200px;
    max-width: 200px;
    margin: 0 2.5rem 0 0;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    padding: 1.25rem;
    text-align: center;
    transition: color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    &:not(:last-child) {
      border-bottom: 1px solid nth($grayscale, 2);
    }
    width: 50%;
    @include mq(sm) {
      width: 25%;
    }
    @include mq(lg) {
      width: 100%;
    }
    @include is-hover {
      color: $white;
      background-color: $primary;
    }
    &.is-active {
      color: $white;
      background-color: $primary;
    }
    .icon {
      width: 60px;
      height: 60px;
      background-color: nth($grayscale, 2);
      margin: 0 auto;
    }
  }
}

.p-product__list {
  @include mq(lg) {
    flex: 1;
  }
}

.p-product__card {
  position: relative;
  height: 100%;
  background-color: nth($grayscale, 1);
}

.p-product__cart {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  width: 40px;
  height: 40px;
  font-size: 0;
  background-color: $white;
  border-radius: 50%;
  z-index: 2;
}

.p-product__category {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  font-size: 0.875rem;
  color: $secondary;
  background-color: $white;
  border-radius: 20px;
  padding: 0.625rem 1rem;
  z-index: 2;
}

.p-product__link {
  position: relative;
  display: block;
  padding: 2.5rem 1.875rem 3rem;
  text-align: center;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid $primary;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
  @include is-hover {
    &:after {
      opacity: 1;
    }
  }
  p {
    height: 84px;
    overflow: hidden;
  }
}

.p-product__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ==========
  #PRODUCT-DETAIL
  ========== */

.p-product-detail {
  position: relative;
}

.p-product-detail__main {
  display: flex;
  flex-wrap: wrap;
}

.p-product-detail__photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: nth($grayscale, 1);
  img {
    width: 240px;
  }
}

.p-product-detail__content {
  display: flex;
  align-items: center;
  width: 50%;
  min-height: calc(100vh - 80px);
  @include mq(lg) {
    padding: 4rem;
  }
  @include mq(xl) {
    padding: 5rem 7.5rem;
  }
}

.p-product-detail__inner {
  width: 100%;
  max-width: 480px;
}

.p-product-detail__quantity {
  display: flex;
  align-items: center;
  border-top: 1px solid nth($grayscale, 2);
  padding: 2rem 0 0;
  margin: 2rem 0 2.5rem;
}

.p-product-detail__btn {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: $white;
  border-radius: 50%;
  transition: background-color 0.2s ease;
  @include is-hover {
    background-color: nth($grayscale, 1);
  }
}

.p-product-detail__btn-minus {
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 2px;
    background-color: nth($grayscale, 5);
  }
}

.p-product-detail__btn-plus {
  &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 2px;
    background-color: nth($grayscale, 5);
  }
  &:before {
    transform: translate(-50%, -50%);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.p-product-detail__input {
  width: 64px;
  border: 2px solid nth($grayscale, 2);
  border-radius: 40px;
  padding: 0.375rem 0.625rem;
  margin: 0 0.25rem;
  text-align: center;
}

.p-product-detail__action {
  display: flex;
  align-items: center;
}